.heading {
  font-size: 32px;
  line-height: 32px;
  font-weight: 800;
  font-style: normal;
  margin: 0 0 24px 0;
}

.container {
  background-color: #FDF8F6; 
  min-height: 100vh; 

}

.mainThing {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 80px
}

.sex {
  height: 100px; 
  width: 100px; 
  background-color: blue;
}